body {
    background-color: white;
}

.menu {
    list-style-type: none;
    margin: 0 0 20 0;
    padding: 0;
    overflow: hidden;

}

.menu-item {
    float: left;
}

.menu-item a {
    background-color: #f0f0f0;
    color: blue;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.menu-item a:hover {
    background-color: #e0e0e0;
}

.menu-item a.selected {
    background-color: #60f0f0;
}

.click {
    text-decoration: underline;
    cursor: pointer;
}

.back {
    margin-bottom: 10px;
}

.pprint {
}

.mb {
    margin-bottom: 20px;
}

.comment {
    margin-top: 10px;
}

.dirty {
    background-color: #fce3ec;
}
