body {
    background-color: white;
}

.menu {
    list-style-type: none;
    margin: 0 0 20 0;
    padding: 0;
    overflow: hidden;

}

.menu-item {
    float: left;
}

.menu-item a {
    color: #fdf6e3;
    background-color: #2aa198;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.menu-item a:hover {
    background: #ff0;
    color: #000;
}

.menu-item a.selected {
    color: #fdf6e3;
    background-color: #dc322f;
}

.click {
    text-decoration: underline;
    cursor: pointer;
}

.back {
    margin-bottom: 10px;
}

.pprint {
}

.pr {
    font-family: monospace;
}

.mb {
    margin-bottom: 20px;
}
.ml {
    margin-left: 20px;
}
.mr {
    margin-right: 20px;
}

.comment {
    margin-top: 10px;
}

.dirty {
    background-color: #fce3ec;
}

a:hover {
 cursor:pointer;
}
